.ht-card{
    border:0;
}
.card-footer{
    background-color: white;
    border: 0;
}
body{
    font-family: 'Yusei Magic', sans-serif;
}
.card-title{
    font-weight: 700;
}
.headings{
    font-weight: 700;
}
.card-img-top{
    background-color: rgb(240, 234, 234);
}
h3{
    font-weight: 900;
}
